  :root {
    --text-color: #8d8f91;
    --panel-background: #f3f8fa;
    --inner-sidebar-background: #F8F9F9;
    --sidebar-width: 286px;
    --header-link-color: #000000;

    --present-shade: rgba(250, 192, 82, 0.2);
    --correct-shade: rgba(151, 207, 199, 0.2);
    --invalid-shade: rgba(204, 204, 204, 0.2);
    --present: rgba(250, 192, 82, 0.5);
    --correct: rgba(151, 207, 199, 0.5);
    --invalid: rgba(204, 204, 204, 0.5);
    --present-text: var(--text-color);
    --correct-text: var(--text-color);
    --invalid-text: var(--text-color);

    --lingo: #729ee0;
    --lingo-10: rgba(114, 158, 224, 1.0);
    --lingo-9: rgba(114, 158, 224, 0.9);
    --lingo-8: rgba(114, 158, 224, 0.8);
    --lingo-7: rgba(114, 158, 224, 0.7);
    --lingo-6: rgba(114, 158, 224, 0.6);
    --lingo-5: rgba(114, 158, 224, 0.5);
    --lingo-4: rgba(114, 158, 224, 0.4);
    --lingo-3: rgba(114, 158, 224, 0.3);
    --lingo-2: rgba(114, 158, 224, 0.2);
    --lingo-1: rgba(114, 158, 224, 0.1);

    --lingo-dark: #314461;
  }

  // Breakpoints
  $bp-mobile-sm: 321px;
  $bp-mobile-md: 376px;
  $bp-mobile-lg: 414px;
  $bp-tablet-sm: 562px;
  $bp-tablet-md: 768px;
  $bp-desktop-sm: 1120px;
  $bp-desktop-md: 1280px;
  $bp-desktop-lg: 1536px;
